.footer {
  background-color: #232323;
  margin-top: -8rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: -100;
  display: grid;
  grid-template-columns: 3rem repeat(3, 1fr) 3rem;
  grid-gap: 2rem;
  color: #FFF;

  &--left {
    grid-column: 2 / 3;
    display: grid;

    & svg {
      width: 40%;
      margin: 0 auto auto 0;
    }
  }

  &--right {

  }

  &--list {
    list-style: none;
    padding: 0;
    margin: 0;

    & a {
      color: #FFF;
      text-decoration: none;
      transition: padding-left 150ms ease;

      &:hover {
        color: $blue;
        padding-left: .5rem;
        transition: padding-left 150ms ease;
      }
    }

    &--title {
      color: $green;
      padding-bottom: .5rem;
      font-size: 1.4rem;
      position: relative;

      &::after {
        content: '';
        background-color: #FFF;
        width: 20%;
        height: .1rem;
        position: absolute;
        left: 0;
        bottom: .4rem;
      }
    }
  }

  &--right {

    & h3 {
      margin: 0;
      margin-bottom: 1rem;
    }

    & input {
      border: solid .5px $green;
      border-radius: 3px;
      padding-left: .5rem;
      width: 100%;
      margin-bottom: .5rem;
      height: 1.6rem;
    }

    & textarea {
      border: solid .5px $green;
      border-radius: 3px;
      padding-left: .5rem;
      width: 100%;
      resize: vertical;
    }

    & button {
      background: $red;
      border-radius: $border-radius;
      border: none;
      padding: .6rem 1.2rem;
      text-decoration: none;
      color: #FFF;
      transform: scale(1);
      transition: transform 300ms ease;
      cursor: pointer;

      &:hover {
        transition: transform 300ms ease;
        transform: scale(1.05);
      }
    }
  }
}
