$blue: #00BBFF;
$green: #a2d565;
$red: #FF3687;

$box-shadow: 0 2px 4px #00000020;
$box-shadow-hover: 0 3px 8px #00000040;
$text-shadow: 0 2px 8px #00000020;
$border-radius: 7px;

$green-gradient: linear-gradient(to right top, #a2d565, #a3db58, #a4e048, #a6e634, #a8eb12);
$blue-gradient: linear-gradient(to left bottom, #00bbff, #00a5ff, #008dff, #0071ff, #004dff);
$red-gradient: linear-gradient(to right top, #ff3687, #ff5a54, #ff8e12, #e8c000, #a8eb12);
$green-gradient-trans: linear-gradient(to right top, #a2d56590, #a3db5890, #a4e04890, #a6e63490, #a8eb1290);

$title-font: "Staatliches";
